.no {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-padding: 6;
}

.no.selecionado {
    -fx-border-color: deepskyblue;
}

.no.inicial {
    -fx-background-color: lightgreen;
}

.no.final {
    -fx-background-color: red;
}

.propriedades {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-padding: 6;
}

.aresta-linha {
    -fx-stroke-width: 2px;
    -fx-stroke: black;
    -fx-stroke-line-cap: butt;
}

.aresta-label {
    -fx-text-fill: white;
}